body { font-family: Arial; }

#board {
	white-space: nowrap;
}

.word {
	margin-bottom: 3px;
}

.letter {
	display: inline-block;
	margin-right: 5px;
	width: 100px;
	height: 75px;
	border: 1px solid black;
	padding-top: 25px;
	vertical-align: middle;
	font-size: 300%;
}
.active {
	box-shadow: 0 0 7px 1px grey;
}
.fully_correct {
	color: white;
	background-color: #67a760;
}
.partially_correct {
	color: white;
	background-color: #c8b359;
}
.wrong {
	color: white;
	background-color: #888;
}

#keyboard {
	margin-top: 30px;
	position: sticky;
/*	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%); */
}

.keyrow {
	margin-bottom: -1px;
}

.key {
	display: inline-block;
	width: 80px;
	height: 60px;
	border: 1px solid black;
	font-size: 200%;
	padding-top: 20px;
}
.key:hover {
	background-color: lightgrey;
}
.key:active {
	background-color: grey;
}

#k0 {
	width: 500px;
}
